<section>
  <h1>Recipe planner</h1>
  <h2>Planned meals</h2>
  <table>
    <thead>
      <tr>
        <th>Recipe</th>
        <th>Servings</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="meal in $ctrl.meals">
        <td>{{meal.recipe.name}}</td>
        <td>
          <input type="number" ng-model="meal.servingSize" ng-change="$ctrl.onChange()">
        </td>
        <td>
          <button ng-click="$ctrl.remove(meal)">Remove</button>
        </td>
      </tr>
      <tr>
        <td>
          <select ng-model="$ctrl.selectedRecipe">
            <option ng-repeat="recipe in $ctrl.recipes|orderBy:'name'" ng-value="recipe">{{recipe.name}}</option>
          </select>
        </td>
        <td>
          <input type="number" ng-model="$ctrl.selectedRecipeServingSize">
        </td>
        <td>
          <button ng-click="$ctrl.add()">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h2>Ingredients</h2>
  <p ng-if="$ctrl.ingredients.length === 0">Add recipes to the planned meals above to see the list of ingredients.</p>
  <table ng-if="$ctrl.ingredients.length > 0">
    <tbody>
      <tr ng-repeat="ingredient in $ctrl.ingredients">
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.amount}}</td>
        <td>{{ingredient.unit}}</td>
      </tr>
    </tbody>
  </table>
</section>