<table>
  <tr *ngFor="let request of requests">
    <td><button (click)="deleteRequestRow(request)">x</button></td>
    <td><input type="text" list="items" [(ngModel)]="request.name"></td>
    <td><input type="number" [(ngModel)]="request.quantity"></td>
  </tr>
  <tr>
    <button (click)="addRequestRow()">+</button>
  </tr>
</table>
<pre>{{output}}</pre>
<table>
  <tr *ngFor="let recipe of recipes">
    <td><button (click)="deleteRecipe(recipe)">x</button></td>
    <td><input type="text" list="items" [(ngModel)]="recipe.name"></td>
    <td><input type="number" [(ngModel)]="recipe.quantity"></td>
    <td>
      <table>
        <tr *ngFor="let ingredient of recipe.ingredients">
          <td><button (click)="recipe.deleteIngredient(ingredient)">x</button></td>
          <td><input type="text" list="items" [(ngModel)]="ingredient.name"></td>
          <td><input type="number" [(ngModel)]="ingredient.quantity"></td>
        </tr>
        <tr>
          <td><button (click)="recipe.addIngredient()">+</button></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><button (click)="addRecipe()">+</button></td>
  </tr>
</table>
<datalist id="items">
  <option *ngFor="let item of items" [attr.value]="item"></option>
</datalist>